 ul {
    display: table-row;
    list-style: none;
  }
  
  li {
    display: table-row;
    color: #ddd;
  }
    
  li::before {
    display: table-cell;
    text-align: right;
    content: "+";
    font-size: 1em;
    font-weight: bold;
    color: #FF404C;
    padding-right: 12px;
  }

a, p, h1, h2{
    color: #ffffff;
    text-align: center;
    font-family: 'Poppins',sans-serif;
}
h3{
    font-size: 32px;
    font-weight: 700;
    line-height: 0px;
    text-align: center;
    padding: 0 0 30px 0;
}
header{
    margin: 5px
}
body{
    background-color: #080710;
}

form{
    height: 500px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 30px 50px 70px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    font-size: 20px;
}
form h3{
    font-size: 32px;
    font-weight: 700;
    line-height: 0px;
    text-align: center;
    padding: 0 0 30px 0;
}

button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

::placeholder{
    color: #9e9696;
}
.container{
    display: inline;
    flex-wrap: wrap;
    justify-content: space-around;
}

.boxReembolso{
    position: absolute; 
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    font-size: 20px;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    padding: 30px;
    width: 400px;
    left: 38%; 
}


.box{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
    font-size: 20px;
    height: auto;
    width: 500px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 30px 50px 70px 35px;
    overflow-y: auto;
    overflow-x: hidden;
}

.inputTela{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}


#repos{
    border-bottom: 1px solid #ffffff;
}

#btnRegistrar{
    width: 92%;
}
#IDreembolso{
    width: 88%;
}
#motivoReembolso{
    width: 88%;
}

#boxReembolsoCadastro{
    position: fixed; 
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    font-size: 20px;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    padding: 30px;
    width: 350px;
    left: 90%; 
    height: 430px;
}

